html {
    height:100%;
}

body {
    height: 100%;
    font-size: 11px;
    font-family:  "Lucida Sans", Verdana, sans-serif;
    background-color: #56a9bc;
}

#_div_page {
    width: 974px;
    height: 515px;
    background-image: url("/images/frontend/bg_monicet_v2.png");
    margin: 0 auto;
    padding-top: 93px;
}

#_a_logo {
    position: relative;
    top: -22px;
    left: 10px;
}

#_div_background {
    height: 613px;
    background-image: url("/images/frontend/bg_gradient.png");
    background-repeat: repeat-x;
}

.albums li {
    margin-bottom: 15px;
    font-size: 12px;
}

.albums li span {
    margin-left: 10px;
    font-size: 10px;
    color: #666666;
}

.albums li a {
    background-image: url("/images/frontend/album_icon.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 3px 0px 3px 30px;
}

ul.gallery, ul.gallery li {
	display: inline;
	margin-right: 5px;
}

#_div_header {
    background-color: #dcedeb;
    border-top-style: solid;
    border-top-color: #167b8b;
    border-top-width: 4px;
    width: 100%;
    height: 136px;
}

#_ul_languages {
    float: right;
    display: inline;
    padding-bottom: 2px;
    margin-right: 8px;
    width: 50px;
}

input, textarea {
    border: 1px solid #167b8b;
    margin: 5px 10px;
    padding: 5px 5px;
    width: 400px;
    color: #167b8b;
}

input:focus, textarea:focus {
    border-color: #75D1E0;
}

label {
    font-weight: bold;
    color: #167b8b;
}

textarea {
    height: 100px;
}

.success {
    color: #2fa0b1;
    font-weight: bold;
    background-image: url('/mfAdministracaoPlugin/images/icons/tick.png');
    background-position: left;
    background-repeat: no-repeat;
    padding: 5px 20px;
}

.error_list {
    color: red;
}

button {
    border: 1px solid #167b8b;
    color: #167b8b;
    font-weight: bold;
    background-color: #dcedeb;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 8px;
}

.local-researchers, .consultants {
    float: left;
    display: inline;
    width: 250px;
}

.consultants {
    margin-left: 10px;
}

.flag {
   width: 20px;
   height: 14px;	
}

#_div_en_language {
    background-image: url("/images/en.png");
}

#_div_en_language:hover {
    background-image: url("/images/en_hover.png");
}

#_div_pt_language {
    background-image: url("/images/pt.png");
}

#_div_pt_language:hover {
    background-image: url("/images/pt_hover.png");
}

#_div_en_language, #_div_pt_language {
    width: 20px;
    height: 14px;
    margin-left: 4px;
    display: inline;
    float: right;
}

#_span_feed:hover {
    background-image: url("/images/frontend/feed-icon-hover.png");
    background-repeat: no-repeat;
    background-position: left;
}

#_span_feed {
    background-image: url("/images/frontend/feed-icon-small.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 20px;
    height: 20px;
}

#_div_main {
    width: 974px;
    height: 400px;
}

#_div_main_left {
    float: left;
    display: inline;
    width: 165px;
    height: auto;
}

#_div_main_recent_news {
    float: left;
    display: inline;
    background-image: url("/images/frontend/bg_news_panel.png");
    width: 180px;
    height: 275px;
}

#_div_main_recent_news_header {
    padding-top: 13px;
    padding-right: 24px;
    color: #2d606d;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

#_ul_recent_news {
    margin: 25px 15px 20px;
    color: #2d606d;
}

#_ul_recent_news li {
    margin-bottom: 15px;
}

#_p_see_all_news {
    margin: 10px 15px;
}

#_div_main_content {
    height: 100%;
    width: 100%;
    overflow: auto;
    outline: none !important;
}

#_div_main_content a:hover {
    color: #75d1e0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

#_div_main_center {
    float: left;
    display: inline;
    height: 332px;
    width: 548px;
    padding: 30px 30px;
    margin: 0 10px;
    background-image: url("/images/frontend/bg_content.png");
}

#_ul_main_menu {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    padding: 25px 11px 0 0;
}

#_ul_main_menu li {
    height: 30px;
}

.menu-active a {
    color: #ffffff !important;
}

#_ul_consorcium {
    display: inline-block;
    clear: both;
    padding-top: 10px;
    margin-left: 200px;
    width: 560px;
    height: 40px;
    text-align: center;
    color: #ffffff;
}

#_ul_consorcium li {
    display: inline;
    list-style: none;
}

#_ul_consorcium a {
    color: #fff;
}

#_ul_consorcium a:hover {
    color: #2d606d;
}

#_div_footer {
    background-color: #dcedeb;
    border-bottom: solid;
    border-top: solid;
    border-color: #3b8c9e;
    border-width: 1px;
    width: 100%;
    height: 85px;
}

#_div_footer p {
    color: #3b8c9e;
    text-align: right;
    display: inline;
    float: right;
    margin-top: 30px;
}

#_div_footer div {
    width: 974px;
    height: 70px;
    margin: 0px auto;
}

#_ul_support {
    background-color: #dcedeb;
    display: inline-block;
    height: 43px;
    padding-top: 16px;
}

#_ul_support li {
    float: left;
    display: inline;
    margin-right: 15px;
}

#_span_support {
    display: inline;
    float: left;
    font-weight: bold;
    color: #3b8c9e;
    margin-top: 30px;
}

a, a:active, a:focus, a:link, a:visited {
    color: #2d606d;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #ffffff;
}

.content {
    text-align: justify;
    line-height: 18px;
    color: #0c333d;
    padding: 5px;
}

.content li{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #2d606d;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    padding-top: 10px;
    color: #2d606d;
    font-size: 12px;
    font-weight: bold;
}

._ul_base li {
    list-style-type: disc;
    margin-left: 20px;
}

._ul_base > li {
    margin-bottom: 20px;
}

.team_key_item {
    font-weight: bold;
}

._p_article_headline {
    color: #2d606d;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

._p_article_date {
    font-size: 10px;
    color: #707070;
    margin: 8px;
}

._p_article_body {
    color: #2d606d;
    text-align: justify;
    margin: 5px 20px;
    line-height: 18px;
}
._p_article_body a {
    font-weight: bold;
}
._p_news_pages_navigation {
    text-align: center;
    color: #2d606d;
}

/* scroll */

.jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.jScrollPaneTrack {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    background: #7dc1cf;
}

.jScrollPaneDrag {
    position: absolute;
    background: #2d606d;
    cursor: pointer;
    overflow: hidden;
}

.jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

a.jScrollArrowUp {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    text-indent: -2000px;
    overflow: hidden;
    background-image: url("/images/frontend/arrow_up.png");
    height: 9px;
}

a.jScrollArrowUp:hover {
    background-image: url("/images/frontend/arrow_up_hover.png");
}

a.jScrollArrowDown {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    text-indent: -2000px;
    overflow: hidden;
    background-image: url("/images/frontend/arrow_down.png");
    height: 9px;
}

a.jScrollArrowDown:hover {
    background-image: url("/images/frontend/arrow_down_hover.png");
}

a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
    background-color: #f00;
}

.charts a, .maps a {
  display: inline-block;
  padding: 9px 30px 9px 0px;
  background: transparent url('/images/frontend/icons-monicet.png') no-repeat right top;
}

.charts a:hover {
  background-position: right -62px;
}

.maps {
  margin-top: 40px;
}

.maps a {
  background-position: right -29px;
}

.maps a:hover {
  background-position: right -91px;
}

.sendPictures a {
  display: inline-block;
  padding: 25px 0px 9px 0px;
  /*background: transparent url('/images/frontend/icons-monicet.png') no-repeat right top;*/
}

.date_field_frontend {
  width: 60px;
}
#uploaded_photo_comment {
  height: 50px;
}

.creative-commons {
	text-align: left;
	height: 60px !important;
	font-size: 8px;
	display: inline-block;
	color: #333;
	width: 88px !important;
}

.creative-commons-image {
	display: inline-block;
	height: 31px !important;
	width: 88px !important;
	position: relative;
	top: -10px;
}

.tooltip {
	display:none;
	background:transparent url(tooltip_images/white_arrow.png);
	font-size:9px;
	height:100px !important;
	width:180px !important;
	padding: 11px 15px 10px;
	color: #333;
	z-index: 1;
}
#recaptcha_widget_div{
    margin-left: 10px;
}