input[type=checkbox] {
  width: 20px !important;
}
.date_field {
  width: 70px !important;
  border: 1px solid #5B8638 !important;
  background-color: #e4eae0 !important;
  height: 20px;
}


ul.footer li {
  float: left;
  padding: 0 10px;
}
ul.footer li a.creditos {
  padding-left: 20px;
  background: transparent url('/mfAdministracaoPlugin/images/icons/creditos.png') no-repeat center left;
}
ul.footer li a.contacto {
  padding-left: 20px;
  background: transparent url('/mfAdministracaoPlugin/images/icons/contactos.png') no-repeat center left;
}
fieldset fieldset {
  border: 1px solid #ddd !important;
  padding: 5px 10px !important;
}
fieldset fieldset legend {
  margin: 0 10px;
  padding: 0 4px;
}

/* acções no backend da general info e gi_list */
.sf_admin_action_import a{
    background: url("/images/backend/icons/import.png") no-repeat scroll 0 0 !important;
    padding-left: 20px;
}
.sf_admin_action_export a{
    background: url("/images/backend/icons/export.png") no-repeat scroll 0 0 !important;
    padding-left: 20px;
}
.sf_admin_action_showgrid a{
    background: url("/images/backend/icons/grid.png") no-repeat scroll 0 0 !important;
    padding-left: 20px;
}
.sf_admin_action_showmap a{
    background: url("/images/backend/icons/map.png") no-repeat scroll 0 0 !important;
    padding-left: 20px;
}
/* fim das acções no backend da general info e gi_list */