/* WINDOW */

#dv{
  height: 15px;
}

.title-w{
  font-size: 16px;
  font-weight: bold;
}

.text-w{
  font-size: 12px;
  display: inline-block;
}

#loading{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 15px;
  width: 15px;
  background-image: url("/images/backend/icons_gmaps/loading_frontend.gif");
}

/* WINDOW END */

/* MAPS */

.map-container { 
  height: 91%;
}

#map-container-div{
  margin-left: auto;
  margin-right: auto;
  height:100%;
  width: 94%;
  display:inline-block;
  float: left;
  padding-bottom: 15px;
  background-image: url("/images/frontend/background-map.png");
  background-repeat: repeat-x;
}

#map_canvas { 
  float: left;
  width: 100%;
  margin: 15px 0px;
  height: 97%;
}

.map-sides{
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  display: inline-block;
  float: left;
  height: 532px;
}

.map-left{
  background-image: url("/images/frontend/map-left.png");
}

.map-right{
  background-image: url("/images/frontend/map-right.png");
}

.left-container{
  display: inline-block;
  margin: auto;
  width: 60%;
  height: 100%;
  text-align: left;
}

/* MAPS END */