/* TABS STYLES */

.ui-widget-content {
  background: none;
  border: none;
}

.ui-widget-header{
  background: none;
  border: none;
}

.ui-tabs .ui-tabs-panel{
  padding: 0px;
}

#_div_main_content a:hover{
  color: #86c2ce;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
  color: #2D606D;
}

.ui-tabs{
  padding: 0px;;
}

.ui-state-active{
  background-image: none;
  background-color: #4aa4b9;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #4aa4b9;
    border: 1px solid #4AA4B9;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #FAFAF4;
    border: 1px solid #4AA4B9;
    color: #459E00;
    font-weight: bold;
}

.ui-tabs-panel{
  border-top: 1px solid #4AA4B9 !important;
}

/* TABS STYLES END */

/* RIGHT SIDEBAR */

.right-side-bar{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin: 0px !important;
  padding: 15px 0px !important;
  width: 300px;
  float: left;
  height: 97%;
  background-color: transparent;
  background-image: url("/images/frontend/filters-background.png");
  background-repeat: repeat-x;
}

.right-side-bar-inner{
  border: 1px solid silver;
  height: 100%;
  padding: 20px;
  position: inherit;
}

.right-container{
  display: inline-block;
  margin: auto;
  width: 320px;
  height: 100%;
  text-align: left;
}

.right-container h2{
  color: #2D606D;
  margin-left: 5px;
  font-size: 16px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: bold;
}

.tabs-content-container{
  padding: 10px 0px;
}

/* RIGHT SIDEBAR END */

/* SPECIES TAB */

.show{
  background: transparent url('/images/backend/icons_gmaps/buttons/show.png') no-repeat left top;
}

.hide{
  background: transparent url('/images/backend/icons_gmaps/buttons/hide.png') no-repeat left top;
}

.remove{
  background: transparent url('/images/backend/icons_gmaps/buttons/remove.png') no-repeat left top;
}

.hide, .show, .remove, .icon {
  padding: 10px;
  margin-left: 6px;
  padding: 4px 12px;
}

.icon{
  margin-left: 0;
  padding: 4px 8px;
}

#pesquisa{
  width: 90% !important;
  padding: 5px 2%;
  margin: 15px 2%;
  border: 2px solid silver !important;
}
#pesquisa-select{
  width: 95% !important;
  padding: 5px 2%;
  margin: 15px 2%;
  border: 2px solid silver !important;
}
#item-list{
  margin-top: 5px;
}

.specie-name{
  width: 160px;
  display: inline-block;
  text-align: left;
}

.specie-count{
  display: inline-block;
  width: 30px;
  text-align: center;
}

/*  SPECIES TAB END */

/* FILTERS TAB */

.filter-item{
  display: inline-block;
}

.filter-item label{
  color: #167B8B !important;
  font-size: 11px;
  display: inline-block !important;
  margin-top: 4px;
  width: 109px !important;
  padding: 0px !important;
  float: none !important;
}

.filter-item select{
  width: 175px;
  font-size: 11px;
}

.filters-sides{
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  display: inline-block;
  float: left;
  height: 532px;
}

.filters-left{
  background-image: url("/images/frontend/filters-left.png");
}

.filters-right{
  background-image: url("/images/frontend/filters-right.png");
}

/* FILTERS TAB END */

/* LAYERS TAB */

.layers-toggle{
  border: none;
  padding: 0px;
  margin: 0px;
  width: 10px;
  height: 20px;
}

.layers-item{
  display: inline-block;
}

.layers-item label{
  color: #167B8B !important;
  font-size: 11px;
  display: inline-block !important;
  margin-top: 4px;
  width: 109px !important;
  padding: 0px !important;
  float: none !important;
}

/* LAYERS TAB END */