/* see action executeIdentify from prObservationPhoto to understand why !important had to be used here */
#_div_page {
    width: 1300px !important;
    height: 920px !important;
    background: url("/images/frontend/bg_monicet_v4.png") center top no-repeat;
}

#_div_background {
    height: 1020px !important;
    background-image: url("/images/frontend/bg_gradient_large.png") !important;
}

#_div_main_center {
    height: 786px !important;
    width: 1205px !important;
    background-image: url("/images/frontend/bg_content_large.png") !important;
}
