generator:
  class: sfPropelGenerator
  param:
    model_class:           Skipper
    theme:                 mfAdmin
    non_verbose_templates: true
    with_show:             false
    singular:              Skipper
    plural:                Skippers
    route_prefix:          skipper
    with_propel_route:     1
    actions_base_class:    sfActions
    i18n_catalogue:        skipper

    config:
      actions: ~
      fields:
        company_id:        { label: Empresa }
        name:              { label: Nome }
        observations:      { label: Observações }
      list:
        title:             A listar skippers
        display:           [company, name]
        #peer_method:       doSelectByCompany
      filter:              
        display:           [ company_id, name ]
      form:    ~
      edit:
        title:             A editar o skipper %%name%%
      new:
        title:             Novo Skipper
